	<h1 class = "text-center">Lista de Reclamações</h1>
	<table id="reclamacao" class="display">
		<thead> 
			<tr>
				<td>Usuario</td>
				<td>Reclamação</td>
				<td>Descricao do convenio</td>
				<td>Numero Convenio</td>
			</tr>
		</thead>
	 
		<tbody>
			<% @reclamacoes.each do |reclamacao| %>

			<tr> 
				<td> <%= current_usuario.nome %>  </td>
				<td> <%= reclamacao.descricao %>  </td>
				<td> <%= Convenio.find(reclamacao.convenio_id).situacaoconvenio %>  </td>
				<td> <%= Convenio.find(reclamacao.convenio_id).numeroconvenio %>  </td>				

			</tr>
	 
	 
			<% end %>
		</tbody>
	</table>

