	<h1 class = "text-center">Lista de Reclamações</h1>
	<table id="reclamacao" class="display">
		<thead> 
			<tr>
				<td>Numero Convenio</td>
				<td>Reclamação</td>
				<td>Autor</td>
			</tr>
		</thead>
	 
		<tbody>
			<% @reclamacoes.each do |reclamacao| %>

				<tr> 
					<td> <%= Reclamacao.find(reclamacao.id).convenio.numeroconvenio %>  </td>
					<td> <%= reclamacao.descricao %>  </td>
					<td> <%= Reclamacao.find(reclamacao.id).usuario.login %>  </td>				

				</tr>
	 
	 
			<% end %>
		</tbody>
	</table>

