<div class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
  <div class="navbar-inner">
  <div class="container">
  

  <div class = "logged" align='right'>
  
  </div>

  </div><!--/.nav-collapse -->
  </div>

</div>
</div>