<div class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
  <div class="navbar-inner">
  <div class="container">
  

  <div class = "logged" align='right'>
  <% if user_signed_in? %>


  <button type="button" class="btn btn-info navbar-btn"><i class="fa fa-gear"></i>
  <%= current_user.name%></button>
  <%=link_to raw("<i class=\"fa fa-sign-out\"> Sair </i>"),
  destroy_user_session_path,
  class: "btn btn-danger navbar-btn", :id => 'logout', method: "delete", confirm: "Deseja realmente sair?" %>


  <% end %>
  </div>

  </div><!--/.nav-collapse -->
  </div>

</div>
</div>