<div class="container-info">
	<div class="page-header" id="red">
		<h1>Aten&ccedil;&atilde;o</h1>
	</div>
	<h3>Seja bem-vindo a criar um novo abaixo-assinado. Mas antes você precisa tirar alguns minutos para ler o conteúdo desta página.</h3>

	<ul>
		<li>De uma olhada em outros abaixo-assinados para ter uma idéia de como criar o seu.</li>

		<li>Ao elaborar os termos do abaixo-assinado, tenha em mente que milhares de pessoas vão visualizá-lo através deste site. Se ele estiver mal escrito, ou com erros de português, irá causar uma má impressão do abaixo-assinado e de seu autor.</li>

		<li>Quando você terminar os termos do seu abaixo-assinado, eles não vão poder ser mudados. Não é permitido alterar os termos de um abaixo assinado, visto que pessoas já podem tê-lo assinado! Então, invista mais um tempo na elaboração do texto, peça a alguém para avaliar também o documento antes de enviá-lo em definitivo para internet.</li>

		<li>Após o texto estar realmente pronto, preencha o formulário com muita atenção. Ao enviar, ele irá direto para internet, e ficará ao-vivo para qualquer um que quiser acessa-lo.</li>

		<li>Aconselhamos você a disponibilizar um link para o abaixo-assinado em seu blog, ou site, isso irá aumentar o número de pessoas que irão acessá-lo. Você também pode mandar o link por e-mail . Quando mais pessoas você convidar para assinar o abaixo-assinado melhor. Quanto mais tráfego de pessoas, mais assinaturas serão coletadas.</li>

		<li>A qualquer momento, o autor do abaixo-assinado pode visualizar informacoes sobre o mesmo atraves da pagina do usuario.</li>
	</ul>
	<%= link_to raw("<i class=\"icon-white icon-bullhorn\"> Criar Abaixo Assinado </i>"),
      	new_abaixo_assinado_path(:convenio_id => params[:convenio_id]),
      	class: "btn btn-primary  btn-small"%>
</div>
