<div class="container-fluid">
	<div class="whiteTable">
  
<h1 style="margin-left: 18px">Lista de Convênios</h1>

<table id="convenios" class="display whiteTable">

<%= render 'form-import-covnenios'=>


	</div>
</div>