<div class="navbar navbar-inverse color">
  <div class="navbar-inner">

<%= link_to raw("<i class=\"activeicon-white icon-flag\"> Portal da Transparência </i>"), "http://www.portaltransparencia.gov.br/", :target => "_blank" ,class: "btn btn-primary btn-lg" %>
    
    <div class="btn-group pull-right" >
      <button type="button" class="btn btn-success dropdown-toggle icon-white icon-eye-open"data-toggle="dropdown">
      Quem somos? <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="">Minhas reclacações</a></li>
        <li><a href="#">Meus abaixo-assinados </a></li>
        <li><a href="#">Editar Perfil</a></li>
        <li class="divider"></li>
      </ul>
    </div>
  </div>
  </div>  