<div class="navbar navbar-inverse color">
  <div class="navbar-inner">

  <%= link_to raw("<i class=\"activeicon-white icon-flag\"> Portal da Transparência </i>"), "http://www.portaltransparencia.gov.br/", :target => "_blank" ,class: "btn btn-primary btn-lg" %>
    
   
  <%= link_to raw("<i class=\"activeicon-white icon-eye-open \"> Quem somos? </i>"), "http://164.41.86.12/redm/projects/to-de-olho/wiki", :target => "_blank" ,class: "btn btn-success btn-lg pull-right" %>
      
    
  </div>  
  </div>