<div class="navbar ">
  <div class="navbar-inner">
  <i class="brand">Tô de olho!</i>

  <%= link_to raw("<i class=\"activeicon-white icon-flag\"> SINCOV  </i>"), "https://www.convenios.gov.br/siconv/secure/entrar-login.jsp", :target => "_blank" ,class: "btn btn-primary btn-lg" %>

  <%= link_to raw("<i class=\"activeicon-white icon-eye-open \"> Quem somos? </i>"), "http://164.41.86.12/redm/projects/to-de-olho/wiki", :target => "_blank" ,class: "btn btn-success btn-lg pull-right" %>

  </div>  
  </div>