 <div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <a class="brand" href="#">Título</a>
        <ul class="nav">
            <li class="active"><a href="#">Início</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>

        <ul class="nav pull-right" >
		 	<li class="dropdown">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			      Usuário
			      <b class="caret"></b>
			    </a>
		<ul class="dropdown-menu">
	      <li>
	      	Teste
	      </li>
	      <li>
	      	Teste
	      </li>
	    </ul>
	  		</li>
	</ul>
    
    </div>
    </div> 
    <div class="container-fluid">
	    <div>
	    	<form class="navbar-search pull-right">
	  			<input type="text" class="search-query" placeholder="Busca">
			</form>

	   </div>
	 </div>

	<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2 ">
      <!--conteúdo da lateral-->
      <h1>TOP 5</h1>
      <% @usuarios.each do |usuario| %>
      <%= link_to usuario.nome, home_path(usuario), :remote => true %>
      <%end%>

      <a href="">OS Cincos mais demorados</a><br>
      <a href="">Os Cincos mais </a><br>
      
    </div>
    <div class="span10 " id="carregar">
    
    </div>
  </div>
</div>