<div class="container">
  <div class="row">
    <div class="page-header white">
      <div align = "center" >
      	<br>
        <%= render "devise/sessions/form_sign_in" %>
      </div>
    </div>
  </div>
</div>