<div class="front-card pull-right">
  
    <div class=" inicial pull-right">
      
        <%= render "devise/sessions/form_sign_in" %>
      
    </div>
    </div>
     
    <div class="container white ">
    	
      
    </div>
  
