<div class="front-card">
  
    <div class=" inicial pull-right">
      
        <%= render "devise/sessions/form_sign_in" %>
      
    </div>
     
    <div class="front-welcome ">
    	<h1 align="center">BOAS VINDAS</h1>
      
    </div>
  
</div>