<%= form_for @usuario, :url => usuarios_path, :html => { :multipart => true } do |form| %>
  


<div class="field">
   
   <%= form.label :avatar %><br>
   <%= form.file_field :avatar %>

</div>



<div class="actions">

   <%= form.submit %>

</div>

<% end %>


 

