<h1>Lista de Usuários</h1>

<table border = "1">
	<thead> 
		<tr>
			<td>Nome</td>
			<td>Cpf</td>
			<td>Email</td>
		</tr>
	</thead>

	<tbody>
		<% @usuarios.each do |usuarios| %>
			
			<tr> 
				<td> <%= usuarios.nome %>  </td>
				<td> <%= usuarios.cpf %>  </td>
				<td> <%= usuarios.email %>  </td>
				
			</tr>


		<% end %>
	</tbody>
</table>