/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dataTables/jquery.dataTables
 *= require dataTables/jquery.dataTables.bootstrap3
 */

.alert{
    text-align:center;
}

.front-welcome h1{
    text-align: center;
}
.tab-content h1{
	text-align: center;
}
.tab-content p{
	text-align: justify;
}
.a{
 		text-decoration: none;
 		color: white;
}
.a:hover{
 		color: black;

}
.navbar-inner {
	background-color: #0064A1;
	background-image: none;
	height: 50px;
	border-radius: 0px 0px 0px 0px;
	border-color: none;
	border:none;
}
.btn-primary {
	background-color: #003366;
	background-image: none;
}
.btn-primary:hover {
	background-color: #172D3A;
	background-image: none;
}
.btn-success {
	background-color: #627834;
	background-image: none;
}
.btn-success:hover {
	background-color: #1E8531;
	background-image: none;
}
.brand{
	background-image: url("background2.png");
	background-position: center;
	background-repeat: no-repeat;
	color: white;

}